@import "bourbon"
@import "vars"
@import "libs"
@import "base"

// стили для темной секции
.s-darck
	background-color: $bgc-color
	color: $white-color

// стили для светлой секции
.s-white
	background-color: $wbgc-color
	color: #000

// стили для стандарных секций
.s-sect
	padding-bottom: 50px
	h2
		padding-top: 35px
		padding-bottom: 15px
		text-transform: uppercase
		font-size: 1.8rem
	p
		font-size: 0.9rem
		opacity: .9


///* стили секции machine *///
.machine
	position: relative
	h2
		padding: 45px 0

	// карточки каталога
	.machine
		&-item
			position: relative
			margin-bottom: 30px
			.bgc-darck
				background-color: rgba($bgc-color,.75)
			&__img
				background:
					size: cover
					position: center center
				filter: grayscale(90%)
				width: 100%
				height: 100%
				position: absolute
			&__content
				padding: 45px
				max-width: 60%
			&__head
				padding-bottom: 16px
				margin-bottom: 16px
				position: relative
				&::before
					@extend .before-line

///* стили секции word-coffee *///
.world-coffee
	clear: both
	&__item
		padding: 0 -15px
		width: 50%
		position: relative
		height: 100vh
		float: left
		@extend .s-sect
		h2
			position: relative
			line-height: 2.4rem
			margin-bottom: 15px
			&::before
				@extend .before-line
		p
			margin-bottom: 50px
	.bgc-darck
		background-color: rgba($bgc-color, .85)
	&__img
		background:
			size: cover
			position: center
		filter: grayscale(70%)
		width: 100%
		height: 100%
		position: absolute
	&__content
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)


@import "media"
