@import "bourbon"
@import "vars"
@import "libs"
@import "base"

// стили для темной секции
.s-darck
	background-color: $bgc-color
	color: $white-color

// стили для светлой секции
.s-white
	background-color: $wbgc-color
	color: #000

// стили для стандарных секций
.s-sect
	padding-bottom: 50px
	h2
		padding-top: 35px
		padding-bottom: 15px
		text-transform: uppercase
		font-size: 1.8rem
	p
		font-size: 0.9rem
		opacity: .9

///* стили секции machine *///
.machine
	position: relative
	h2
		padding: 45px 0

	// карточки каталога
	&-item
		position: relative
		margin-bottom: 30px
		.bgc-darck
			background-color: rgba($bgc-color,.75)
		&__img
			background:
				size: cover
				position: center center
			filter: grayscale(90%)
			width: 100%
			height: 100%
			position: absolute
		&__content
			padding: 45px
		&__head
			padding-bottom: 16px
			margin-bottom: 16px
			position: relative
			&::before
				@extend .before-line

///* стили секции world-coffee *///
.world-coffee
	clear: both
	&__item
		padding: 0 -15px
		width: 50%
		position: relative
		max-height: 100vh
		min-height: 600px
		float: left
		@extend .s-sect
		h2
			position: relative
			line-height: 2.4rem
			padding-top: 0
			margin-bottom: 15px
			&::before
				@extend .before-line
		p
			margin-bottom: 50px
	.bgc-darck
		background-color: rgba($bgc-color, .85)
	&__img
		background:
			size: cover
			position: center
		filter: grayscale(70%)
		width: 100%
		height: 100%
		position: absolute
	&__content
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

///* стили секции sales *///
.sales
	h2
		padding-top: 50px
	p
		font-style: italic
		font-family: "Open sans", sans-serif
		margin-bottom: 60px
	&-item
		background-color: #fff
		border: 2px solid rgba(#ccc, .2)
		border-radius: 3px
		padding: 70px 20px 40px 20px
		position: relative
		text-align: center
		font-size: 1rem
		font-style: normal
		overflow: hidden
		margin-bottom: 30px
		&:hover
			.sales-item__btn
				bottom: 0
			.btn-icon
				opacity: 1
		p
			font-size: 1.2rem
			font-style: normal
			position: relative
			padding-bottom: 15px
			margin-bottom: 20px
			line-height: 1.7rem
			span
				display: block
			&::before
				@extend .before-line
				width: 30px
				transform: translateX(-50%)
		&__price
			display: block
			margin-bottom: 30px
			font-weight: 600
			opacity: .9
		button.sales-item__btn
			position: absolute
			bottom: -50px
			border: none
			background-color: $bgc-color
			color: $white-color
			width: 100%
			left: 0
			height: 50px
		.btn-icon
			background-color: transparent
			border: none
			position: absolute
			top: 20px
			right: 20px
			opacity: 0
			&.on
				color: #da4453
				font-size: 1.5rem
				opacity: 1
			&:hover
				color: #da4453

		img
			margin-bottom: 25px
			max-height: 200px
			display: inline-block
			background-color: transparent

//* стили секции whyme *//
.whyme
	position: relative
	height: 100vh
	min-height: 600px
	padding: 0
	.bgc-darck
		background-color: rgba($bgc-color,.78)
	&-block
		width: 50%
		@extend .world-coffee__item
		position: relative
		height: 100%
		float: left
		&-right
			&__content
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				.whyme-item
					padding-left: 60px
					&__head
						margin-bottom: 10px
						padding-bottom: 10px
						position: relative
						&::before
							@extend .before-line
							width: 30px
	.whyme-item__desc-last
		margin-bottom: 0
	&__bg
		position: absolute
		width: 100%
		height: 100%
		filter: grayscale(80%)
		background:
			color: $bgc-color
			size: cover
			repeat: no-repeat
			position: center
	&__content
		position: absolute
		top: 50%
		left: 50%
		display: block
		transform: translate(-50%, -50%)

///* стили секции интересные статьи *///
.articles
	&__head
		margin-top: 15px
	&__desc
		margin-bottom: 30px
	&-item
		display: block
		background-color: #fff
		color: #000
		border: 2px solid rgba($bgc-color, .04)
		margin-bottom: 35px
		img
			width: 100%
			height: 220px
			filter: grayscale(80%)
		&__content
			padding: 40px 50px
			opacity: .9
			font-size: 0.9rem
		&__category
			font-size: 0.8rem
			font-style: italic
			margin-bottom: 12px
			display: block
		&__head
			font-size: 1.4rem
			position: relative
			display: block
			padding-bottom: 18px
			margin-bottom: 18px
			opacity: 1
			&::before
				@extend .before-line
				width: 40px
		&__desc
			margin-bottom: 25px
		&__line
			display: block
			font-style: italic
		&__date
			float: left
		&__comment
			float: right
			i
				margin-right: 5px

///* стили секции интстаграмм *///
.instagram
	&__head
		font-weight: 600
		margin-top: 20px
	&__desc
		margin-bottom: 55px
	.owl-instagram__item
		width: 100%
		height: 250px
		margin: 0
		a.owl-instagram__img
			width: 100%
			height: 100%
			background-size: cover
			background-position: center
			display: block
			filter: grayscale(90%)
			&:hover
				filter: grayscale(0%)


///* стили для футера *///
.footer
	padding: 50px 0
	font-weight: 300
	.logo
		font-size: 1.5rem
		margin-bottom: 35px
		&__desc
			opacity: .8
			font-size: 0.9rem
			margin-bottom: 20px
	.phone
		display: block
		font-weight: 600
		&-last
			margin-bottom: 20px
	.addr-mail
		font-size: 0.9rem
		opacity: .8
		margin-bottom: 30px
		display: block
		&:hover
			text-decoration: underline
	&-item
		font-size: 0.9rem
		opacity: .8
		&__head
			margin-bottom: 20px
			position: relative
			padding-bottom: 15px
			&::before
				@extend .before-line
		&__li
			margin-bottom: 6px
			display: block
		&__soc
			opacity: 1
			li,
			.footer-item__li
				display: inline-block
			.footer-item__li
				margin-right: 14px
				font-size: 1.1rem





@import "media"
