section#articles.articles.s-white.s-sect
  .container
    .row
      .col-xs-12
        h2.articles__head Интересные статьи
        p.articles__desc все стаьи
      
      .col-md-4.col-sm-6
        a(href='#').articles-item
          img(src="../img/articles/1.jpeg", alt="История кофе")
          .articles-item__content
            span.articles-item__category История
            h3.articles-item__head История кофе
            p.articles-item__desc Этот напиток достоин высших похвал. Он способен изгнать из ума вульгарность и гнев.
            .articles-item__line.clearfix
              span.articles-item__date 12 ноября 2016
              span.articles-item__comment 25
        
      .col-md-4.col-sm-6
        a(href='#').articles-item
          img(src="../img/articles/1.jpeg", alt="История кофе")
          .articles-item__content
            span.articles-item__category История
            h3.articles-item__head История кофе
            p.articles-item__desc Этот напиток достоин высших похвал. Он способен изгнать из ума вульгарность и гнев.
            .articles-item__line.clearfix
              span.articles-item__date 12 ноября 2016
              span.articles-item__comment 25
  
      .col-md-4.hidden-sm
        a(href='#').articles-item
          img(src="../img/articles/1.jpeg", alt="История кофе")
          .articles-item__content
            span.articles-item__category История
            h3.articles-item__head История кофе
            p.articles-item__desc Этот напиток достоин высших похвал. Он способен изгнать из ума вульгарность и гнев.
            .articles-item__line.clearfix
              span.articles-item__date 12 ноября 2016
              span.articles-item__comment 25
