footer#footer.footer.s-darck
  .container
    .row
      .col-md-4.col-sm-8
        .logo
          a(href='#') Mycoffee
        p.logo__desc Кофе - это не только вкусно. Кофе - это красиво. <br> Ресурс собравший в себя искусство кофе и <br> помощь в выборе кофейных фаворитов.
        span.phone +375 (29) 999-33-33
        span.phone.phone-last +375 (25) 999-33-22
        a(href='#').addr-mail kudel1995@mail.ru
        
      .col-md-2.col-sm-4.col-xs-6
        h3.footer-item__head Каталог
        ul.footer-item
          li 
            a(href="#").footer-item__li Кофемашины
          li 
            a(href="#").footer-item__li Кофе
          li 
            a(href="#").footer-item__li Вендинг
          li 
            a(href="#").footer-item__li Аксесуары
              
      .col-md-2.col-sm-4.col-xs-6
        h3.footer-item__head О компании
        ul.footer-item
          li 
            a(href="#").footer-item__li О нас
          li 
            a(href="#").footer-item__li Реквизиты
          li 
            a(href="#").footer-item__li Работа и вакансии
          li 
            a(href='#').footer-item__li Поставщики
          li 
            a(href='#').footer-item__li Контакты
      
      .col-md-2.col-sm-4.col-xs-6
        h3.footer-item__head Информация
        ul.footer-item
          li 
            a(href="#").footer-item__li Как сделать заказ
          li 
            a(href="#").footer-item__li Бонусная программа
          li 
            a(href="#").footer-item__li Помощь в выборе
      
      .col-md-2.col-sm-4.col-xs-6
        h3.footer-item__head Мы в сетях
        ul.footer-item.footer-item__soc
          li 
            a(href="#").footer-item__li тв
          li 
            a(href="#").footer-item__li фc
          li 
            a(href="#").footer-item__li вк
          li 
            a(href="#").footer-item__li гт
          
