header.header-home
	.header-bgi(style='background-image: url("img/bg-head.jpg");')
	.bgc-darck
	.container
		.row
			.top-line
				.col-sm-2
					.logo
						a(href='#') Mycoffee
				
				.col-md-7
					ul.main-menu
						li 
							a(href='#') Кофемашины
						li 
							a(href='#') Вендинг
						li 
							a(href='#') Кофе
						li 
							a(href='#') О нас
						li 
							a(href='#') Контакты
						li 
							a(href='#') Блог
				
				.col-sm-3
					ul.panel-prifile
						li 
							button.btn-top <i class="fa fa-search" aria-hidden="true"></i>
						li
							button.btn-top <i class="fa fa-users" aria-hidden="true"></i>
						li 
							button.btn-top <i class="fa fa-shopping-basket" aria-hidden="true"></i>
		
		.row
			.col-sm-4.col-sm-push-4.header-content_wrap
				.header-content
					h1 Mycoffee
					p Кофе - это не только вкусно. Кофе - красиво. Русурс собравший в себя искусство кофе и помощь в выборе кофейных фаворитов.
					
		.btn-bottom
			span <i class="fa fa-angle-down" aria-hidden="true"></i>
