section#instagram.instagram.s-darck.s-sect
  .container
    .row
      .col-xs-12
        h2.instagram__head Инстаграмм
        p.instagram__desc Подписаться
  .container-fluid
    .instagram-photo
      .instagram__photo(style='background-image: url(../img/instagram/1.jpg);')
      
