section#instagram.instagram.s-darck.s-sect
  .container
    .row
      .col-md-12
        h2.instagram__head Instargam
        p.instagram__desc Подписаться
  .container-fluid
    .row
      /// слфдер фоток
      .owl-carousel.owl-instagram
        .owl-carousel__item.owl-instagram__item
          a(href='../img/instagram/1.jpg').owl-instagram__img(style='background-image: url(../img/instagram/1.jpg)')
          
        .owl-carousel__item.owl-instagram__item
          a(href='../img/instagram/2.jpg').owl-instagram__img(style='background-image: url(../img/instagram/2.jpg)')
          
        .owl-carousel__item.owl-instagram__item
          a(href='../img/instagram/3.jpg').owl-instagram__img(style='background-image: url(../img/instagram/3.jpg)')
          
        .owl-carousel__item.owl-instagram__item
          a(href='../img/instagram/4.jpg').owl-instagram__img(style='background-image: url(../img/instagram/4.jpg)')
        
        .owl-carousel__item.owl-instagram__item
          a(href='../img/instagram/5.jpg').owl-instagram__img(style='background-image: url(../img/instagram/5.jpg)')
          
        .owl-carousel__item.owl-instagram__item
          a(href='../img/instagram/6.jpg').owl-instagram__img(style='background-image: url(../img/instagram/6.jpg)')
