// costom Jade (pug)
section#machine.machine.s-darck.s-sect
	.container
		.row
			h2 Каталог
			
			.col-sm-6.col-xs-12
				.machine-item
					.machine-item__img(style='background-image: url(../img/machine/1.jpg);')
					.bgc-darck
					.machine-item__content
						h3.machine-item__head Кофемашины
						p.machine-item__desc Швейарские машины славяться<br> своим качеством и надежностью.<br> Отвечая Вашим требованиям.

			.col-sm-6.col-xs-12
				.machine-item
					.machine-item__img(style='background-image: url(../img/machine/2.jpg);')
					.bgc-darck
					.machine-item__content
						h3.machine-item__head Кфое
						p.machine-item__desc Смеси и моносорта арабики<br> от ведущих мировых произволителей.<br> Светлой, средней и темной прожарки.

			.col-sm-6.col-xs-12
				.machine-item
					.machine-item__img(style='background-image: url(../img/machine/3.jpeg);')
					.bgc-darck
					.machine-item__content
						h3.machine-item__head Вендинг
						p.machine-item__desc Автоматизированные торновые<br> автоматы являются абсолютными<br> лидерами современного рынка.

			.col-sm-6.col-xs-12
				.machine-item
					.machine-item__img(style='background-image: url(../img/machine/4.jpg);')
					.bgc-darck
					.machine-item__content
						h3.machine-item__head Аксессуары
						p.machine-item__desc Подарочные наборы, кофемолки,<br> капучинаторы и прочие аксессуары<br> для вашего бизнеса.
