// costom Jade (pug)
section#machine.machine.s-darck.s-sect
	.container
		.row
			h2 Каталог
			
			.col-sm-6
				.machine-item
					.machine-item__img(style='background-image: url(../img/machine/1.jpg);')
					.bgc-darck
					.machine-item__content
						h3.machine-item__head Кофемашины
						p.machine-item__desc Швейарские машины славяться своим качеством и надежностью. Отвечая Вашим требованиям.

			.col-sm-6
				.machine-item
					.machine-item__img(style='background-image: url(../img/machine/2.jpg);')
					.bgc-darck
					.machine-item__content
						h3.machine-item__head Кфое
						p.machine-item__desc Смеси и моносорта арабики от ведущих мировых произволителей. Светлой, средней и темной прожарки.

			.col-sm-6
				.machine-item
					.machine-item__img(style='background-image: url(../img/machine/3.jpeg);')
					.bgc-darck
					.machine-item__content
						h3.machine-item__head Вендинг
						p.machine-item__desc Автоматизированные торновые автоматы являются абсолютными лидерами современного рынка.

			.col-sm-6
				.machine-item
					.machine-item__img(style='background-image: url(../img/machine/4.jpg);')
					.bgc-darck
					.machine-item__content
						h3.machine-item__head Аксессуары
						p.machine-item__desc Подарочные наборы, кофемолки, капучинаторы и прочие аксессуары для вашего бизнеса.
