section#sales.sales.s-white.s-sect
  .container
    .row
      .col-sm-12
        h2 Хиты продаж
        p Все хиты
      
      .col-lg-3.col-md-4.col-sm-6
        .sales-item
          button.btn-icon <i class="fa fa-heart-o" aria-hidden="true"></i>
          img(src="../img/sales/1.png")
          p.sales-item__name <span>кофе</span>  Черная карта
          b.sales-item__price 10 руб.
          button.sales-item__btn В корзину
  
      .col-lg-3.col-md-4.col-sm-6
        .sales-item
          button.btn-icon <i class="fa fa-heart-o" aria-hidden="true"></i>
          img(src="../img/sales/2.png")
          p.sales-item__name <span>кофе</span>  Nescafe classic
          b.sales-item__price 24 руб.
          button.sales-item__btn В корзину

      .col-lg-3.col-md-4.col-sm-6
        .sales-item
          button.btn-icon <i class="fa fa-heart-o" aria-hidden="true"></i>
          img(src="../img/sales/3.png")
          p.sales-item__name <span>Капучино</span>  Lets be
          b.sales-item__price 18 руб.
          button.sales-item__btn В корзину
      
      .col-lg-3.col-md-4.col-sm-6
        .sales-item
          button.btn-icon <i class="fa fa-heart-o" aria-hidden="true"></i>
          img(src="../img/sales/4.png")
          p.sales-item__name <span>кофе</span> Jacobs Monarch
          b.sales-item__price 30 руб.
          button.sales-item__btn В корзину
      
      .col-lg-3.col-md-4.col-sm-6
        .sales-item
          button.btn-icon <i class="fa fa-heart-o" aria-hidden="true"></i>
          img(src="../img/sales/5.png")
          p.sales-item__name <span>Кофемашина</span>  DeLondghi ECAM23
          b.sales-item__price 345 руб.
          button.sales-item__btn В корзину
      
      .col-lg-3.col-md-4.col-sm-6
        .sales-item
          button.btn-icon <i class="fa fa-heart-o" aria-hidden="true"></i>
          img(src="../img/sales/6.png")
          p.sales-item__name <span>Кофемашина</span>  Lucca Coffee&Tea
          b.sales-item__price 278 руб.
          button.sales-item__btn В корзину


      .col-lg-3.col-md-4.col-sm-6
        .sales-item
          button.btn-icon <i class="fa fa-heart-o" aria-hidden="true"></i>
          img(src="../img/sales/7.png")
          p.sales-item__name <span>Кофемашина</span> Bork c 805
          b.sales-item__price 385 руб.
          button.sales-item__btn В корзину
          
      .col-lg-3.col-md-4.col-sm-6
        .sales-item
          button.btn-icon <i class="fa fa-heart-o" aria-hidden="true"></i>
          img(src="../img/sales/5.png")
          p.sales-item__name <span>Кофемашина</span> Bork c 804
          b.sales-item__price 650 руб.
          button.sales-item__btn В корзину
          
          
