section#whyme.whyme.s-darck.s-sect
  .whyme__bg(style='background-image: url(../img/bg-head.jpg);')
  
  .whyme-block
    .whyme__content
      h2.whyme__head Почему мы ?
      p.whyme__desc Став нашим клиентом Вы получаете: Обширный выбор ассортименты, удобство<br> и экномию времени за счет рекомендаций эксперта.<br> Мы всегда открыты для совершенствования и <br> готовы учесть все Ваши пожелания.<br> Честность и качество являются основой нашего дела.
      a.buttons Подробнее
  
  .whyme-block.whyme-block-right
    .bgc-darck
    .whyme-block-right__content
      .whyme-item(style='background-image: url(../img/);')
        h4.whyme-item__head Бесплатная доставка
        p.whyme-item__desc Мы достваим Ваш заказ в любое удобное место для Вас место. Не ограничиваясь зоной доставки и суммой заказа.
        
      .whyme-item
        h4.whyme-item__head Мы всегда готовы помочь
        p.whyme-item__desc В случае, если у Вас возикли трудности с выбором товара, Наш менеджер с радостью Вам поможет.

      .whyme-item
        h4.whyme-item__head Накопительная программа
        p.whyme-item__desc.whyme-item__desc-last Гибкая система скидок для новичков и постоянных клиентов. Бонусы в вашу копилку.
