section.world-coffee.s-darck
  .world-coffee__item
    .world-coffee__img(style='background-image: url(../img/world-coffee/1.jpg);')
    .bgc-darck
    .world-coffee__content
      h2 Гид в мир <br> кофе
      p Все, что нужно знатьо кофе для того, чтобы не просто пить, а получать наслаждение от каждой чашки. В этом разделе Вы узнаете как правильно выбрать кофе и на какие критерии в первую очередь стоит обращать внимание.
      a(href="#").buttons Подробнее
  
  .world-coffee__item
    .world-coffee__img(style='background-image: url(../img/world-coffee/2.jpg);')
